workflows/dmo-claw.json
{
  "name": "🤖 DMO Claw",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dmo-claw",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -16
      ],
      "webhookId": "dmo-claw-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2Wrgbf2reccfG3vK",
          "name": "DMO Claw Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract message from OpenWebUI webhook payload\n// Payload: { messages: [{role, content}], user: {email, name} }\nconst body = $('Webhook Trigger').first().json.body;\nconst messages = body.messages || [];\nconst lastUserMsg = messages.filter(m => m.role === 'user').pop();\nconst userMessage = lastUserMsg?.content || '';\nconst userEmail = body.user?.email || '';\nconst userName = body.user?.name || 'Unknown';\n\nreturn [{\n  json: {\n    userMessage,\n    userEmail,\n    userName\n  }\n}];"
      },
      "id": "normalize-message",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -16
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "scheduled-task-trigger",
      "name": "Scheduled Task Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst message = raw.message || '';\nconst userId = String(raw.user_id || 'system');\n// Extract email from oi: prefix\nconst userEmail = userId.startsWith('oi:') ? userId.slice(3) : userId;\nconst userName = 'System Task';\nconst source = raw.source || 'scheduled_task';\n\nreturn [{\n  json: {\n    userMessage: message,\n    userEmail,\n    userName,\n    source\n  }\n}];"
      },
      "id": "format-task-input",
      "name": "Format Task Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: data }];"
      },
      "id": "merge-input",
      "name": "Merge Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, content FROM soul ORDER BY key",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "load-soul",
      "name": "Load Soul",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        672,
        140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uqYlbBp0N4zv2iMf",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, content FROM agents ORDER BY key",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "load-agents",
      "name": "Load Agents Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        672,
        -16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uqYlbBp0N4zv2iMf",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, display_name, timezone, preferences, context, setup_done FROM user_profiles WHERE user_id = 'oi:{{ $('Merge Input').first().json.userEmail }}' LIMIT 1",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "load-user",
      "name": "Load User Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        896,
        -16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uqYlbBp0N4zv2iMf",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, name FROM dmo_users WHERE oi_email = '{{ $('Merge Input').first().json.userEmail }}' AND active = true LIMIT 1",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "load-user-role",
      "name": "Load User Role",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        -16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uqYlbBp0N4zv2iMf",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM conversations WHERE session_id = 'oi:{{ $('Merge Input').first().json.userEmail }}' ORDER BY created_at DESC LIMIT 20",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "load-history",
      "name": "Load Conversation History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1344,
        -16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uqYlbBp0N4zv2iMf",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT server_name, mcp_url, description, tools FROM mcp_registry WHERE active = true ORDER BY server_name",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "load-mcp-servers",
      "name": "Load MCP Servers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1456,
        -16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const soul = $('Load Soul').all().map(i => i.json);\nconst agentsRaw = $('Load Agents Config').all().map(i => i.json);\nconst agents = [...new Map(agentsRaw.map(a => [a.key, a])).values()];\nconst user = $('Load User Profile').first()?.json || {};\nconst userRole = $('Load User Role').first()?.json || {};\nconst role = userRole.role || 'readonly';\nconst roleName = userRole.name || '';\nconst historyRaw = $('Load Conversation History').all().map(i => i.json);\nconst seenHist = new Set();\nconst history = historyRaw.filter(h => { const k = h.role + ':' + h.content; if (seenHist.has(k)) return false; seenHist.add(k); return true; });\nconst userMessage = $('Merge Input').first().json.userMessage || '';\nconst userEmail = $('Merge Input').first().json.userEmail || 'unknown';\nconst userName = $('Merge Input').first().json.userName || 'Unknown';\n\nconst baseUrl = '{{SUPABASE_URL}}';\nconst serviceKey = '{{SUPABASE_SERVICE_KEY}}';\nconst dbHeaders = { 'apikey': serviceKey, 'Authorization': 'Bearer ' + serviceKey, 'Content-Type': 'application/json' };\nlet notifications = [];\ntry {\n  notifications = await helpers.httpRequest({ method: 'GET', url: baseUrl + '/rest/v1/notifications?read=eq.false&or=(recipient_email.eq.' + encodeURIComponent(userEmail) + ',recipient_email.eq.all)&order=created_at.desc&limit=10', headers: dbHeaders });\n  if (notifications && notifications.length > 0) {\n    const ids = notifications.map(n => n.id);\n    await helpers.httpRequest({ method: 'PATCH', url: baseUrl + '/rest/v1/notifications?id=in.(' + ids.join(',') + ')', headers: { ...dbHeaders, 'Prefer': 'return=minimal' }, body: JSON.stringify({ read: true }) });\n  }\n} catch(e) {}\n\nconst soulText = soul.map(s => '## ' + s.key + '\\n' + s.content).join('\\n\\n');\n\n// Filter agents by role: exclude write-only configs for non-admins\nconst adminOnlyKeys = ['member_management_write'];\nconst filteredAgents = agents.filter(a => {\n  if (adminOnlyKeys.includes(a.key) && role !== 'admin') return false;\n  return true;\n});\n// Build dynamic MCP server list\nconst mcpRaw = $('Load MCP Servers').all().map(i => i.json);\nconst seenMcp = new Set();\nconst mcpServers = mcpRaw.filter(s => { if (!s.server_name || seenMcp.has(s.server_name)) return false; seenMcp.add(s.server_name); return true; });\nlet mcpServerList = '';\nif (mcpServers.length > 0) {\n  mcpServerList = '\\n\\n## Available MCP Skills:\\n' + mcpServers.map(s => {\n    const tools = Array.isArray(s.tools) ? s.tools.join(', ') : s.tools;\n    return '- ' + s.server_name + ': ' + s.mcp_url + ' (tools: ' + tools + ')' + (s.description ? ' — ' + s.description : '');\n  }).join('\\n');\n}\n\nconst agentText = filteredAgents.map(a => {\n  if (a.key === 'mcp_instructions') {\n    const cleaned = a.content.replace(/\\n## (?:Available MCP (?:Servers|Skills)|Currently installed MCP Skills)[\\s\\S]*?(?=\\n## |$)/, '');\n    return '## ' + a.key + '\\n' + cleaned + mcpServerList;\n  }\n  return '## ' + a.key + '\\n' + a.content;\n}).join('\\n\\n');\n\nconst userText = user.display_name ? 'Name: ' + user.display_name + ' (' + user.name + ')\\nTimezone: ' + user.timezone + '\\nKontext: ' + user.context + '\\nPrefs: ' + JSON.stringify(user.preferences) + '\\nSetup done: ' + (user.setup_done !== false ? 'true' : 'false') : 'Unbekannter User';\n\nconst roleContextMap = { marketing: 'Rolle: Marketing (' + roleName + ')\\nDu hilfst bei Social Media, Content-Erstellung und Posting.\\nBevorzugte Tools: create_instagram_post, schedule_post, alpine_weather\\nNutze Bewertungs-Tools nur wenn explizit danach gefragt wird.', member_relations: 'Rolle: Mitgliederbetreuung (' + roleName + ')\\nDu hilfst bei Bewertungen, Mitgliedsbetrieben und deren Anliegen.\\nBevorzugte Tools: query_reviews, review_summary, alpine_weather\\nNutze Posting-Tools nur wenn explizit danach gefragt wird.', admin: 'Rolle: Admin (' + roleName + ')\\nVollzugriff auf alle Tools und Funktionen.', readonly: 'Rolle: Lesezugriff\\nDu kannst Informationen abrufen, aber keine Aktionen ausfuehren.' };\nconst roleContext = roleContextMap[role] || roleContextMap.readonly;\n\nconst historyText = history.reverse().map(h => h.role + ': ' + h.content).join('\\n');\n\nlet notifText = '';\nif (notifications && notifications.length > 0) {\n  notifText = '\\n\\n# UNGELESENE BENACHRICHTIGUNGEN\\nWICHTIG: Erwaehne diese Benachrichtigungen proaktiv am Anfang deiner Antwort!\\n';\n  for (const n of notifications) { notifText += '- [' + n.type + '] ' + n.title + ': ' + (n.body || '') + '\\n'; }\n}\n\nconst now = $now.setZone(user.timezone || 'UTC').toFormat('cccc, dd LLLL yyyy, HH:mm');\n\nconst systemPrompt = '# CURRENT TIME\\n' + now + '\\n\\n# SOUL\\n' + soulText + '\\n\\n# AGENT CONFIG\\n' + agentText + '\\n\\n# USER ROLE\\n' + roleContext + '\\n\\n# USER PROFILE\\n' + userText + notifText + '\\n\\n# RECENT CONVERSATION\\n' + historyText;\n\nreturn [{ json: { systemPrompt, userMessage, userEmail, userName, userId: userEmail, sessionId: 'oi:' + userEmail } }];"
      },
      "id": "build-prompt",
      "name": "Build System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 10
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2424,
        -16
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.7
        }
      },
      "id": "claude-llm",
      "name": "Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1792,
        208
      ],
      "credentials": {
        "anthropicApi": {
          "id": "UQ163Me7vrO4Csh4",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Save conversation to Supabase\nconst userMessage = $('Build System Prompt').first().json.userMessage;\nconst assistantMessage = $('AI Agent').first().json.output;\nconst sessionId = $('Build System Prompt').first().json.sessionId;\nconst userId = $('Build System Prompt').first().json.userId;\n\n// Mark onboarding as done after first response\nconst setupDone = $('Load User Profile').first()?.json?.setup_done;\nconst markSetupDone = setupDone === false;\n\nreturn [{\n  json: {\n    userMessage,\n    assistantMessage,\n    sessionId,\n    userId,\n    markSetupDone\n  }\n}];"
      },
      "id": "prepare-save",
      "name": "Prepare Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (session_id, user_id, role, content) VALUES ('{{ $json.sessionId }}', '{{ $json.userId }}', 'user', '{{ $json.userMessage.replace(/'/g, \"''\") }}'); INSERT INTO conversations (session_id, user_id, role, content) VALUES ('{{ $json.sessionId }}', '{{ $json.userId }}', 'assistant', '{{ $json.assistantMessage.replace(/'/g, \"''\") }}'); {{ $json.markSetupDone ? \"UPDATE user_profiles SET setup_done = true WHERE user_id = 'oi:\" + $json.userId + \"';\" : '' }}",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "save-conversation",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3632,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "uqYlbBp0N4zv2iMf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memory_daily (date, content, role, user_id) VALUES (CURRENT_DATE, '{{ ($json.userMessage + ' → ' + $json.assistantMessage).replace(/'/g, \"''\") }}', 'interaction', '{{ $json.userId }}')",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "save-daily-log",
      "name": "Save Daily Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3632,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "uqYlbBp0N4zv2iMf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.assistantMessage }) }}"
      },
      "id": "route-response",
      "name": "Route Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3432,
        -16
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-webhook",
              "leftValue": "={{ $('Merge Input').first().json.source }}",
              "rightValue": "scheduled_task",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.assistantMessage }) }}"
      },
      "id": "webhook-reply",
      "name": "Webhook Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3632,
        -80
      ]
    },
    {
      "parameters": {
        "description": "Search long-term memory for relevant information. Input: JSON with search_query (string). Automatically scoped to the current user's personal memories + shared org memories.",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_MEMORY_SEARCH_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Build System Prompt').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "type": "string",
              "required": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-memory-search",
      "name": "Memory Search",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1920,
        208
      ]
    },
    {
      "parameters": {
        "description": "Save important info to long-term memory. Input: JSON with content (string), category (general/decision/preference/contact/project), importance (1-10), scope ('user' or 'org', default 'user'). scope 'user': personal info (preferences, habits, facts about the user). scope 'org': organization/DMO knowledge (business facts, regional info, member data, shared decisions). User identity is handled automatically.",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_MEMORY_SAVE_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Build System Prompt').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "type": "string",
              "required": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-memory-save",
      "name": "Memory Save",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2048,
        208
      ]
    },
    {
      "parameters": {
        "description": "Make HTTP requests. Input: JSON with url (string), optional method (GET/POST/PATCH/DELETE), optional headers (object), optional body (object for POST/PATCH).",
        "jsCode": "let input;\ntry { input = JSON.parse(query); } catch(e) { input = {url: query}; }\nif (!input.url) return 'Fehler: url ist Pflicht';\nconst opts = {\n  method: input.method || 'GET',\n  url: input.url,\n  headers: input.headers || {}\n};\nif (input.body && ['POST','PATCH','PUT'].includes((input.method||'').toUpperCase())) {\n  opts.body = input.body;\n  if (!opts.headers['Content-Type']) opts.headers['Content-Type'] = 'application/json';\n}\ntry {\n  const result = await helpers.httpRequest(opts);\n  return typeof result === 'string' ? result.substring(0,4000) : JSON.stringify(result).substring(0,4000);\n} catch(e) {\n  return 'HTTP Error: ' + e.message;\n}"
      },
      "id": "tool-http",
      "name": "HTTP Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        2176,
        208
      ]
    },
    {
      "parameters": {
        "description": "Search the web. Input: search query as string or JSON with q field. Returns top 5 results with title, URL, and snippet.",
        "jsCode": "let input;\ntry { input = JSON.parse(query); } catch(e) { input = { q: query }; }\nconst q = input.q || input.query || query;\nconst result = await helpers.httpRequest({\n  method: 'GET',\n  url: `http://searxng:8080/search?q=${encodeURIComponent(q)}&format=json&language=de`,\n  headers: { 'Accept': 'application/json' }\n});\nconst hits = (result.results || []).slice(0, 5).map(r =>\n  `${r.title}\\n${r.url}\\n${r.content || ''}`\n).join('\\n\\n');\nreturn hits || 'Keine Ergebnisse gefunden.';"
      },
      "id": "tool-web-search",
      "name": "Web Search",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        2304,
        208
      ]
    },
    {
      "parameters": {
        "description": "List or manage n8n workflows. Input: JSON with action (list/get/create) and optional workflowId.",
        "jsCode": "let input;\ntry { input = JSON.parse(query); } catch(e) { input = {action:'list'}; }\nconst apiKey = '{{N8N_API_KEY}}';\nconst hdrs = {'X-N8N-API-KEY': apiKey, 'Content-Type': 'application/json'};\nlet result;\nif (input.action === 'list') {\n  result = await helpers.httpRequest({method:'GET', url:'{{N8N_INTERNAL_URL}}/api/v1/workflows', headers: hdrs});\n} else if (input.action === 'get' && input.workflowId) {\n  result = await helpers.httpRequest({method:'GET', url:'{{N8N_INTERNAL_URL}}/api/v1/workflows/'+input.workflowId, headers: hdrs});\n} else {\n  return JSON.stringify({error: 'Use action: list or get'});\n}\nreturn JSON.stringify(result);"
      },
      "id": "tool-self-modify",
      "name": "Self Modify",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        2432,
        208
      ]
    },
    {
      "parameters": {
        "description": "Set a timed reminder, scheduled task, or recurring action. IMPORTANT: Always include user_id — use the sessionId from the system prompt (format: oi:email@example.com, e.g. oi:friedemann.schuetz@posteo.de). NEVER use display names like 'oi:Petra'.\\nModes:\\n- Reminder (type='reminder'): writes a notification that the agent picks up in the next chat. Use for 'remind me at/in...'.\\n- Task (type='task'): the agent executes the instructions once at the given time and sends the result. Use for 'do X at Y o'clock'.\\n- Recurring (type='recurring'): creates a repeating scheduled action. Extra fields: name (label), instruction (what to do), schedule (object), action_type ('agent_task' or 'briefing', default 'agent_task'), notify_mode ('always' or 'on_change', default 'always'), timezone (default 'Europe/Berlin'). Schedule formats: {\"type\":\"interval\",\"minutes\":30} or {\"type\":\"daily\",\"time\":\"08:00\"} or {\"type\":\"weekly\",\"days\":[1,5],\"time\":\"09:00\"} (1=Mon..7=Sun). notify_mode: 'always' = always send result (use for briefings, reports). 'on_change' = only notify when something NEW is found (use for background monitoring).\\n- Management: action='list' (show all scheduled actions), action='enable'/'disable'/'delete' with target_id (ID of the action to manage).\\nInput for reminder/task: time (ISO 8601), message (text), type, user_id. Input for recurring: see above plus user_id. Input for management: action, target_id, user_id.",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_REMINDER_FACTORY_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-reminder-wf",
      "name": "Reminder",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2560,
        208
      ]
    },
    {
      "parameters": {
        "description": "Builds new n8n workflows for general automations and integrations. Use when the user explicitly wants to automate something or build an integration workflow. NOT for MCP servers — use mcp_builder for that. NOT as a fallback when other tools fail. Input: JSON with 'task' (description of the automation to build).",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WORKFLOW_BUILDER_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-workflow-builder",
      "name": "WorkflowBuilder",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2688,
        208
      ]
    },
    {
      "parameters": {
        "name": "mcp_builder",
        "description": "Builds a new MCP Server workflow in n8n. ALWAYS use this when the user wants to build an MCP server, MCP tool, or API integration as MCP. NEVER use WorkflowBuilder for MCP. On error: report the error, do NOT fall back to WorkflowBuilder. Input: JSON with 'task' (description of what the server should do). After build: user must deactivate + reactivate the workflow in n8n UI (webhook registration bug).",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_MCP_BUILDER_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "mcp-builder-tool",
      "name": "MCP Builder",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2816,
        208
      ]
    },
    {
      "parameters": {
        "description": "Calls a tool on an MCP server. Use when the user asks something that an available MCP server can answer (weather, book lookup, etc.). Required parameters: mcp_url (server URL), tool_name (tool to call), arguments (JSON object with parameters). Check mcp_registry table for available servers and their tools.",
        "jsCode": "// Debug: figure out what query actually is\nconst qType = typeof query;\nlet mcpUrl = '', toolName = '', args = {};\n\nif (qType === 'object' && query !== null) {\n  // query is already an object\n  mcpUrl = query.mcp_url || '';\n  toolName = query.tool_name || '';\n  args = query.arguments || {};\n} else if (qType === 'string') {\n  try {\n    const parsed = JSON.parse(query);\n    mcpUrl = parsed.mcp_url || '';\n    toolName = parsed.tool_name || '';\n    args = parsed.arguments || {};\n  } catch(e) {\n    return 'Parse error: query=' + String(query).substring(0,200) + ' type=' + qType;\n  }\n} else {\n  return 'Unexpected query type: ' + qType + ' value: ' + String(query).substring(0,200);\n}\n\nif (typeof args === 'string') try { args = JSON.parse(args); } catch(e) {}\nif (!mcpUrl || !toolName) return 'Fehler: mcp_url=' + mcpUrl + ' tool_name=' + toolName + ' (query type was: ' + qType + ')';\n\ntry {\n  // 1. Initialize\n  const init = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: {'Content-Type':'application/json','Accept':'application/json, text/event-stream'},\n    body: JSON.stringify({jsonrpc:'2.0',id:1,method:'initialize',params:{protocolVersion:'2024-11-05',capabilities:{},clientInfo:{name:'dmo-claw-mcp',version:'1.0'}}}),\n    returnFullResponse: true, encoding: 'utf-8', json: false\n  });\n  const sid = init.headers && init.headers['mcp-session-id'];\n  if (!sid) return 'MCP: Kein session-id. Body: ' + String(init.body||init).substring(0,200);\n\n  // 2. Initialized\n  await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: {'Content-Type':'application/json','Accept':'application/json, text/event-stream','mcp-session-id':sid},\n    body: JSON.stringify({jsonrpc:'2.0',method:'notifications/initialized'}),\n    json: false\n  });\n\n  // 3. Call tool\n  const resp = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: {'Content-Type':'application/json','Accept':'application/json, text/event-stream','mcp-session-id':sid},\n    body: JSON.stringify({jsonrpc:'2.0',id:2,method:'tools/call',params:{name:toolName,arguments:args}}),\n    json: false\n  });\n\n  const bodyStr = String(resp);\n  const dataLine = bodyStr.split('\\n').find(l => l.startsWith('data: '));\n  if (!dataLine) return 'MCP: Keine Daten. Response: ' + bodyStr.substring(0,200);\n  const result = JSON.parse(dataLine.substring(6));\n  if (result.error) return 'MCP Error: ' + JSON.stringify(result.error);\n  return result.result?.content?.[0]?.text || JSON.stringify(result.result);\n} catch(e) {\n  return 'MCP Error: ' + e.message;\n}"
      },
      "id": "mcp-client-code",
      "name": "MCP Client",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        2944,
        208
      ]
    },
    {
      "parameters": {
        "description": "Manage tasks. Input: JSON with action and parameters.\n\nActions:\n- list: List tasks. Optional: status (pending/in_progress/done/cancelled), priority, due_before (ISO date)\n- create: Create task. Required: title. Optional: description, priority (low/medium/high/urgent), due_date (ISO 8601), parent_id (for subtasks), tags (array)\n- update: Update task. Required: id. Optional: title, description, status, priority, due_date, tags\n- delete: Delete task. Required: id\n- summary: Overview of all pending/in_progress tasks grouped by priority\n- set_preference: Save user preference. Required: key, value. Example: {\"action\":\"set_preference\",\"key\":\"morning_briefing\",\"value\":{\"enabled\":true,\"time\":\"08:00\"}}\n\nExamples:\n{\"action\":\"create\",\"title\":\"Call dentist\",\"due_date\":\"2026-03-10T10:00:00+01:00\",\"priority\":\"high\"}\n{\"action\":\"list\",\"status\":\"pending\"}\n{\"action\":\"update\",\"id\":5,\"status\":\"done\"}\n{\"action\":\"summary\"}",
        "jsCode": "const SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\nasync function pgrest(method, path, body, extraHeaders = {}) {\n  const opts = {\n    method,\n    url: `${SUPABASE_URL}${path}`,\n    headers: { 'apikey': SUPABASE_KEY, 'Content-Type': 'application/json', ...extraHeaders },\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true\n  };\n  if (body) opts.body = JSON.stringify(body);\n  const res = await helpers.httpRequest(opts);\n  if (!res.body || res.body === '') return null;\n  return typeof res.body === 'string' ? JSON.parse(res.body) : res.body;\n}\n\nlet input;\ntry { input = JSON.parse(query); } catch(e) { return 'Error: invalid JSON. Expected: {\"action\":\"list|create|update|delete|summary|set_preference\", ...}'; }\n\nconst userEmail = $('Merge Input').first().json.userEmail || 'unknown';\nconst userId = `oi:${userEmail}`;\nconst action = input.action;\n\nif (action === 'list') {\n  let filter = `user_id=eq.${encodeURIComponent(userId)}`;\n  if (input.status) filter += `&status=eq.${input.status}`;\n  if (input.priority) filter += `&priority=eq.${input.priority}`;\n  if (input.due_before) filter += `&due_date=lte.${input.due_before}`;\n  filter += '&parent_id=is.null&order=due_date.asc.nullslast,priority.desc,created_at.desc';\n  const tasks = await pgrest('GET', `/rest/v1/tasks?${filter}&select=*`);\n  return JSON.stringify(tasks);\n\n} else if (action === 'create') {\n  if (!input.title) return 'Error: title is required';\n  const body = {\n    user_id: userId,\n    title: input.title,\n    description: input.description || null,\n    priority: input.priority || 'medium',\n    due_date: input.due_date || null,\n    parent_id: input.parent_id || null,\n    tags: input.tags || []\n  };\n  const result = await pgrest('POST', '/rest/v1/tasks', body, { 'Prefer': 'return=representation' });\n  return JSON.stringify({ success: true, task: Array.isArray(result) ? result[0] : result });\n\n} else if (action === 'update') {\n  if (!input.id) return 'Error: id is required';\n  const body = {};\n  if (input.title) body.title = input.title;\n  if (input.description !== undefined) body.description = input.description;\n  if (input.status) {\n    body.status = input.status;\n    if (input.status === 'done') body.completed_at = new Date().toISOString();\n  }\n  if (input.priority) body.priority = input.priority;\n  if (input.due_date !== undefined) body.due_date = input.due_date;\n  if (input.tags) body.tags = input.tags;\n  body.updated_at = new Date().toISOString();\n  const result = await pgrest('PATCH', `/rest/v1/tasks?id=eq.${input.id}&user_id=eq.${encodeURIComponent(userId)}`, body, { 'Prefer': 'return=representation' });\n  return JSON.stringify({ success: true, task: Array.isArray(result) ? result[0] : result });\n\n} else if (action === 'delete') {\n  if (!input.id) return 'Error: id is required';\n  await pgrest('DELETE', `/rest/v1/tasks?id=eq.${input.id}&user_id=eq.${encodeURIComponent(userId)}`);\n  return JSON.stringify({ success: true, deleted: input.id });\n\n} else if (action === 'summary') {\n  const tasks = await pgrest('GET', `/rest/v1/tasks?user_id=eq.${encodeURIComponent(userId)}&status=in.(pending,in_progress)&parent_id=is.null&order=priority.desc,due_date.asc.nullslast&select=*`);\n  const profiles = await pgrest('GET', `/rest/v1/user_profiles?user_id=eq.${encodeURIComponent(userId)}&select=timezone`);\n  const tz = (profiles && profiles[0] && profiles[0].timezone) || 'Europe/Berlin';\n  const now = new Date();\n  const todayStr = now.toLocaleDateString('en-CA', { timeZone: tz });\n  const overdue = tasks.filter(t => { if (!t.due_date) return false; const d = new Date(t.due_date); return d < now && d.toLocaleDateString('en-CA', { timeZone: tz }) !== todayStr; });\n  const dueToday = tasks.filter(t => { if (!t.due_date) return false; return new Date(t.due_date).toLocaleDateString('en-CA', { timeZone: tz }) === todayStr; });\n  return JSON.stringify({\n    total_pending: tasks.length, overdue: overdue.length, due_today: dueToday.length,\n    by_priority: { urgent: tasks.filter(t => t.priority === 'urgent').length, high: tasks.filter(t => t.priority === 'high').length, medium: tasks.filter(t => t.priority === 'medium').length, low: tasks.filter(t => t.priority === 'low').length },\n    tasks: tasks.map(t => ({ id: t.id, title: t.title, status: t.status, priority: t.priority, due_date: t.due_date }))\n  });\n\n} else if (action === 'set_preference') {\n  if (!input.key || input.value === undefined) return 'Error: key and value required';\n  const profiles = await pgrest('GET', `/rest/v1/user_profiles?user_id=eq.${encodeURIComponent(userId)}&select=preferences`);\n  const current = (profiles[0] && profiles[0].preferences) || {};\n  current[input.key] = input.value;\n  await pgrest('PATCH', `/rest/v1/user_profiles?user_id=eq.${encodeURIComponent(userId)}`, { preferences: current, updated_at: new Date().toISOString() }, { 'Prefer': 'return=minimal' });\n  if (input.key === 'morning_briefing' && input.value.enabled !== undefined) {\n    await pgrest('PATCH', `/rest/v1/heartbeat_config?check_name=eq.morning_briefing`, { enabled: input.value.enabled }, { 'Prefer': 'return=minimal' });\n  }\n  return JSON.stringify({ success: true, preference: input.key, value: input.value });\n\n} else {\n  return 'Error: unknown action \"' + action + '\". Use: list, create, update, delete, summary, set_preference';\n}"
      },
      "id": "tool-task-manager",
      "name": "Task Manager",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        3072,
        208
      ]
    },
    {
      "parameters": {
        "description": "Manage the MCP template library. Install, list, or remove MCP server templates from the catalog. Add API credentials for installed templates.\n\nActions:\n- list_templates: Show available templates. Optional: category filter.\n- install_template: Install a template by ID. Creates the MCP server workflow.\n- remove_template: Remove an installed template by ID.\n- add_credential: Generate secure one-time link(s) to add/update API key(s) for an installed template. Required: id. Optional: cred_key (if omitted, generates links for ALL required credentials).\n\nInput: JSON with action and parameters.\nExamples:\n{\"action\":\"list_templates\"}\n{\"action\":\"install_template\",\"id\":\"weather-openmeteo\"}\n{\"action\":\"remove_template\",\"id\":\"weather-openmeteo\"}\n{\"action\":\"add_credential\",\"id\":\"google-reviews\"}",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_LIBRARY_MANAGER_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-library-manager",
      "name": "Library Manager",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3200,
        208
      ]
    },
    {
      "parameters": {
        "name": "expert_agent",
        "description": "Delegate a task to a specialized expert agent. The expert works independently with its own AI model and tools, then returns a structured result. You should rephrase the result in your own tone before replying to the user.\n\nParameters (JSON):\n- agent: Expert agent identifier (e.g. \"research-expert\", \"content-creator\", \"data-analyst\")\n- task: Detailed task description — be specific about what you need\n- context: Relevant conversation context the expert should know (optional)\n\nExamples:\n{\"agent\":\"research-expert\",\"task\":\"Recherchiere die besten Wanderwege in Tirol mit Schwierigkeitsgrad und Länge\",\"context\":\"User plant einen Wanderurlaub im Sommer\"}\n{\"agent\":\"content-creator\",\"task\":\"Erstelle einen Instagram-Post über unser neues Produkt\",\"context\":\"Produkt: AI-gestützter Kalender, Zielgruppe: junge Berufstätige\"}\n{\"agent\":\"data-analyst\",\"task\":\"Analysiere diese Verkaufszahlen und erstelle einen Report\",\"context\":\"Q1 2026: Jan 45k, Feb 52k, Mär 61k\"}",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_SUB_AGENT_RUNNER_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-expert-agent",
      "name": "Expert Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3328,
        208
      ]
    },
    {
      "parameters": {
        "name": "agent_library",
        "description": "Manage the expert agent library. Install, list, or remove specialized expert agents from the catalog.\n\nActions:\n- list_agents: Show all available agents from the catalog (with installed status).\n- install_agent: Install an agent by ID. Downloads persona from catalog and saves to database.\n- remove_agent: Remove an installed agent by ID.\n- list_installed: Show only currently installed agents.\n\nInput: JSON with action and parameters.\nExamples:\n{\"action\":\"list_agents\"}\n{\"action\":\"install_agent\",\"id\":\"research-expert\"}\n{\"action\":\"remove_agent\",\"id\":\"research-expert\"}\n{\"action\":\"list_installed\"}",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_AGENT_LIBRARY_MANAGER_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-agent-library",
      "name": "Agent Library",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3456,
        208
      ]
    },
    {
      "parameters": {
        "description": "Read a webpage and return its content as clean markdown. Input: URL string or JSON with url field. Use this instead of HTTP Tool when you need to read webpage content (articles, docs, blog posts). Returns clean text without HTML boilerplate.",
        "jsCode": "let input;\ntry { input = JSON.parse(query); } catch(e) { input = { url: query }; }\nif (!input.url) return 'Fehler: url ist Pflicht';\ntry {\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://crawl4ai:11235/crawl',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ urls: [input.url], crawler_config: { type: 'CrawlerRunConfig', params: { stream: false, cache_mode: 'bypass' } } }),\n    timeout: 30000\n  });\n  const results = resp.results || resp;\n  const result = Array.isArray(results) ? results[0] : results;\n  if (!result.success) return 'Fehler: ' + (result.error_message || 'Crawl fehlgeschlagen');\n  const mdObj = result.markdown || {};\n  const md = typeof mdObj === 'string' ? mdObj : (mdObj.raw_markdown || '');\n  return md.substring(0, 8000);\n} catch(e) {\n  return 'Fehler beim Abrufen: ' + e.message;\n}"
      },
      "id": "tool-web-reader",
      "name": "Web Reader",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        3584,
        208
      ]
    },
    {
      "parameters": {
        "description": "Manage projects — persistent markdown documents for tracking ongoing work across conversations. Use this when a topic spans multiple sessions (e.g. building a presentation, planning an event, setting up a server).\n\nInput: JSON with action and fields:\n- list: Returns all projects with name, status, updated_at.\n- read: name (string). Returns the full markdown content.\n- create: name (string), content (string, markdown). Creates a new project.\n- update: name (string), content (string, markdown). Replaces the entire project content. Always read first, then send the complete updated document.\n- archive: name (string). Sets status to completed.\n\nExamples:\n{\"action\":\"list\"}\n{\"action\":\"create\",\"name\":\"KI Präsentation\",\"content\":\"## Ziel\\nPräsentation über KI im Tourismus\\n\\n## Gliederung\\n1. Einführung\\n2. Use Cases\"}\n{\"action\":\"read\",\"name\":\"KI Präsentation\"}\n{\"action\":\"update\",\"name\":\"KI Präsentation\",\"content\":\"## Ziel\\n...updated content...\"}\n{\"action\":\"archive\",\"name\":\"KI Präsentation\"}",
        "jsCode": "const SUPABASE_URL = '{{SUPABASE_URL}}';\nconst SUPABASE_KEY = '{{SUPABASE_SERVICE_KEY}}';\n\nasync function pgrest(method, path, body, extraHeaders = {}) {\n  const opts = {\n    method,\n    url: `${SUPABASE_URL}${path}`,\n    headers: { 'apikey': SUPABASE_KEY, 'Content-Type': 'application/json', ...extraHeaders },\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true\n  };\n  if (body) opts.body = JSON.stringify(body);\n  const res = await helpers.httpRequest(opts);\n  if (!res.body || res.body === '') return null;\n  return typeof res.body === 'string' ? JSON.parse(res.body) : res.body;\n}\n\nlet input;\ntry { input = JSON.parse(query); } catch(e) { return 'Error: invalid JSON. Expected: {\"action\":\"list|read|create|update|archive\", ...}'; }\n\nconst action = input.action;\n\nif (action === 'list') {\n  const projects = await pgrest('GET', '/rest/v1/projects?order=updated_at.desc&select=name,status,updated_at');\n  if (!projects || projects.length === 0) return JSON.stringify({ projects: [], message: 'No projects yet.' });\n  return JSON.stringify({ projects });\n\n} else if (action === 'read') {\n  if (!input.name) return 'Error: name is required';\n  const projects = await pgrest('GET', `/rest/v1/projects?name=eq.${encodeURIComponent(input.name)}&select=name,status,content,created_at,updated_at`);\n  if (!projects || projects.length === 0) return JSON.stringify({ error: 'Project not found: ' + input.name });\n  return JSON.stringify(projects[0]);\n\n} else if (action === 'create') {\n  if (!input.name) return 'Error: name is required';\n  const body = { name: input.name, content: input.content || '', status: 'active' };\n  const result = await pgrest('POST', '/rest/v1/projects', body, { 'Prefer': 'return=representation' });\n  if (result && result.code) return JSON.stringify({ error: result.message || 'Create failed' });\n  return JSON.stringify({ success: true, project: Array.isArray(result) ? result[0] : result });\n\n} else if (action === 'update') {\n  if (!input.name) return 'Error: name is required';\n  if (input.content === undefined) return 'Error: content is required';\n  const body = { content: input.content, updated_at: new Date().toISOString() };\n  if (input.status) body.status = input.status;\n  const result = await pgrest('PATCH', `/rest/v1/projects?name=eq.${encodeURIComponent(input.name)}`, body, { 'Prefer': 'return=representation' });\n  if (!result || result.length === 0) return JSON.stringify({ error: 'Project not found: ' + input.name });\n  return JSON.stringify({ success: true, project: Array.isArray(result) ? result[0] : result });\n\n} else if (action === 'archive') {\n  if (!input.name) return 'Error: name is required';\n  const body = { status: 'completed', updated_at: new Date().toISOString() };\n  const result = await pgrest('PATCH', `/rest/v1/projects?name=eq.${encodeURIComponent(input.name)}`, body, { 'Prefer': 'return=representation' });\n  if (!result || result.length === 0) return JSON.stringify({ error: 'Project not found: ' + input.name });\n  return JSON.stringify({ success: true, archived: input.name });\n\n} else {\n  return 'Error: unknown action \"' + action + '\". Use: list, read, create, update, archive';\n}"
      },
      "id": "tool-project-manager",
      "name": "Project Manager",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        3712,
        208
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Message": {
      "main": [
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Task Trigger": {
      "main": [
        [
          {
            "node": "Format Task Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Task Input": {
      "main": [
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Input": {
      "main": [
        [
          {
            "node": "Load Soul",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Soul": {
      "main": [
        [
          {
            "node": "Load Agents Config",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        []
      ]
    },
    "Load Agents Config": {
      "main": [
        [
          {
            "node": "Load User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        []
      ]
    },
    "Load User Profile": {
      "main": [
        [
          {
            "node": "Load User Role",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        []
      ]
    },
    "Load User Role": {
      "main": [
        [
          {
            "node": "Load Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Conversation History": {
      "main": [
        [
          {
            "node": "Load MCP Servers",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        []
      ]
    },
    "Load MCP Servers": {
      "main": [
        [
          {
            "node": "Build System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build System Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Save",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        []
      ]
    },
    "Claude": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        []
      ]
    },
    "Memory Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory Save": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Webhook Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Self Modify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Save": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Daily Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        []
      ]
    },
    "Reminder": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WorkflowBuilder": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Builder": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Task Manager": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Library Manager": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Expert Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent Library": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Reader": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Project Manager": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
